/*==========================================*/
/*				Main style  				*/
/*==========================================*/

.flat-clock-wrapper
	font 100%/1.5em Helvetica


.flat-clock-hours
.flat-clock-minutes
.flat-clock-seconds
	float left
	padding 3%
	margin 1%
	width 30%
	text-align center
	border-radius 5px
	

.flat-clock-digit	
	font-weight bold
	font-size 2em

.flat-clock-text
	font-size 0.8em		



/*==========================================*/
/*				Theme Colors 				*/
/*==========================================*/


/*==========================================*/
/*					Black 	 				*/
/*==========================================*/

.black.flat-clock-wrapper
	& .flat-clock-hours
	& .flat-clock-minutes
	& .flat-clock-seconds
		color #eee
		background #000	



/*==========================================*/
/*					White 	 				*/
/*==========================================*/
		
.white.flat-clock-wrapper
	& .flat-clock-hours
	& .flat-clock-minutes
	& .flat-clock-seconds
		color #333
		background #fff		
	
/*==========================================*/
/*					Green 	 				*/
/*==========================================*/
		
.green.flat-clock-wrapper
	& .flat-clock-hours
	& .flat-clock-minutes
	& .flat-clock-seconds
		color #fff
		background #27ae60					
		

/*==========================================*/
/*					Blue 	 				*/
/*==========================================*/
		
.blue.flat-clock-wrapper
	& .flat-clock-hours
	& .flat-clock-minutes
	& .flat-clock-seconds
		color #fff
		background #3498db		


/*==========================================*/
/*					Red 	 				*/
/*==========================================*/
		
.red.flat-clock-wrapper
	& .flat-clock-hours
	& .flat-clock-minutes
	& .flat-clock-seconds
		color #fff
		background #e74c3c				
